SHOWDOWN_USERNAME=BotBLob
SHOWDOWN_PASSWORD=BotBLob
SHOWDOWN_SERVER=wss://sim3.psim.us/showdown/websocket
SHOWDOWN_FORMAT=gen9vgc2025regg
SHOWDOWN_TEAM_PATH=teams/fixed_team.txt
SHOWDOWN_AUTH_LOGIN_URL=https://play.pokemonshowdown.com/api/login
SHOWDOWN_AUTH_GUEST_URL=https://play.pokemonshowdown.com/action.php
